# --- GOLANG ---
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum

# --- JAVA ---
*.class
*.jar
*.war
*.ear
# Pasta gerada pelo compilador
bin/
build/
.gradle/
.metadata/

# --- KOTLIN ---
*.kotlin_module
*.kt.swp
# Se usar o compilador de linha de comando
*.kjm

# --- JAVASCRIPT / TYPESCRIPT ---
node_modules/
dist/
.npm/
*.log
# Arquivos de build do TS
*.tsbuildinfo

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
# Ambientes virtuais
venv/
.venv/
env/
.env

# --- EDITOR / IDE ---
.vscode/
.idea/
.DS_Store
Thumbs.db